@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
	font-family: 'fontawesome';
	src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/webfonts/fa-solid-900.ttf');
		
  }

body {
	margin: 0;
	background-color: #1a1a1a;
	color: white;
}

.react-flow__handle {
	opacity: 0;
}
.react-flow__node {
	width: 2ch !important;
}

.MsoNormal {
	background: none !important;
}
.MsoNormal span, p {
	color: white !important;
	font-family: 'Poppins', sans-serif !important;
	font-size: 100% !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
	display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
* {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
